 title{
    color:crimson
   
}
body{
     background-color: rgb(212, 174, 39);
            
          }  
h1{
    color: rgb(109, 5, 154);
    font-size: 30px;
    text-align: center;
}
 p{
    font-size:  larger;
    font-weight: bold;}

a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    :hover {
        color: rgb(134, 154, 5);
    }
}